<footer class="page-footer grey darken-4">
	    <div class="container">
	      <div class="row">
	        <div class="col l6 s12">
	          <h5 class="white-text">CofounderSpace</h5>
	          <p class="grey-text text-lighten-4">
	          	<%= link_to "About Us", pages_about_path, :class => "grey-text text-lighten-4" %><br>
	            <%= link_to "Privacy", pages_privacy_path, :class => "grey-text text-lighten-4" %><br>
	            <%= link_to "Terms", pages_privacy_path, :class => "grey-text text-lighten-4" %>
	          </p>
	        </div>
	        <div class="col l4 offset-l2 s12">
	          <h5 class="white-text">Social</h5>
	          <ul>
	            <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
	            <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
	            <li><a class="grey-text text-lighten-3" href="#!">Google Plus</a></li>    
	          </ul>
	        </div>
	      </div>
	    </div>
	    <div class="footer-copyright">
	      <div class="container">
	      © 2016 Copyright CofounderSpace
	 
	      
	      </div>
	    </div>
   </footer>